:root{
    --Red: #c73a0f;
    --Green: #1ea475;
    --white: #ffffff;
    --Rose-50: #fcf9f7;
    --Rose-100: #f4edeb;
    --Rose-300: #c9aea6;
    --Rose-400: #ad8985;
    --Rose-500: #87635a;
    --Rose-900: rgb(38, 15, 8);
}
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
body{
    background-color: var(--Rose-50);
    width: 100%;
}
.content-header{
    width: 100%;
    height: 140px;
    padding: 0 2rem;
    background-color: var(--Rose-100);
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}
.content-header img{
    width: 140px;
    object-fit: cover;
}
.name-local{
    font-size: 38px;
    font-weight: 600;
    color: var(--Red);
    font-family: cursive;
}
.container{
    max-width: 1280px;
    padding: 2rem;
    margin: 0 auto;
}
.categories{
    display: flex;
    gap: 2rem;
    justify-content: center;
    margin-bottom: 1rem;
}
.categories button{
    background-color: transparent;
    padding: .8rem;
    border-radius: 10px;
    cursor: pointer;
    border: none;
    color: var(--Rose-900);
    font-weight: 700;
    font-size: 20px;
    border: 1px solid var(--Rose-500);
}
.categories .btn-select{
    background-color: var(--Red);
    padding: .8rem;
    border-radius: 10px;
    cursor: pointer;
    border: none;
    color: var(--white);
    font-weight: 700;
    font-size: 20px;
}
.content-product{
    display: flex;
    gap: 2rem;
}
.product-content-right{
    width: 85%;
}

.category-name{
    font-size: 32px;
    margin-bottom: 1rem;
    color: var(--Rose-900);
}
.content-cards{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1rem;
}
.card-product-img{
    position: relative;
}
.card-product-img img{
    width: 250px;
    border-radius: 10px;
}
.card-product-img button{
    width: 80%;
    position: absolute;
    left: 50%;
	bottom: 0;
    transform: translate(-53%, 30%);
    background-color: var(--white);
    border: 2px solid var(--Rose-500);
    padding: .5rem 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: .5rem;
    font-weight: 600;
    cursor: pointer;
    border-radius: 50px;
    color: var(--Rose-900);
    transition: background-color 0.3s ease-in;
}
.card-product-img button:hover{
    background-color: var(--Rose-100);
    color: var(--Red);
    border: 2px solid var(--Red);
}
.card-product-info{
    padding: 1rem 0;
}
.card-product-info span{
    color: var(--Rose-400);
}
.card-product-info p{
    color: var(--Rose-900);
    font-weight: 600;
}
.card-product-info .price{
    color: var(--Red);
}
.content-order{
    width: 40%;
}
.card-order{
    width: 100%;
    background-color: var(--white);
    padding: 2rem;
    border-radius: 10px;
}
.card-order-name{
    color: var(--Red);
    margin-bottom: 2rem;
}
.add-order-card{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    width: 100%;
    height: auto;
}
.add-order-card-title{
    color: var(--Rose-400);
    font-weight: 600;
}