:root{
    --Red: #c73a0f;
    --Green: #1ea475;
    --white: #ffffff;
    --Rose-50: #fcf9f7;
    --Rose-100: #f4edeb;
    --Rose-300: #c9aea6;
    --Rose-400: #ad8985;
    --Rose-500: #87635a;
    --Rose-900: rgb(38, 15, 8);
}
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
body{
    background-color: var(--Rose-50);
    width: 100%;
}
.content-header{
    width: 100%;
    height: 140px;
    padding: 0 2rem;
    background-color: var(--Rose-100);
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}
.content-header img{
    width: 140px;
    object-fit: cover;
}
.name-local{
    font-size: 38px;
    font-weight: 600;
    color: var(--Red);
    font-family: cursive;
}
.container{
    max-width: 1280px;
    padding: 2rem;
    margin: 0 auto;
}
.categories{
    display: flex;
    gap: 2rem;
    justify-content: center;
    margin-bottom: 1rem;
}
.categories button{
    background-color: transparent;
    padding: .8rem;
    border-radius: 10px;
    cursor: pointer;
    border: none;
    color: var(--Rose-900);
    font-weight: 700;
    font-size: 20px;
    border: 1px solid var(--Rose-500);
}
.categories .btn-select{
    background-color: var(--Rose-500);
    padding: .8rem;
    border-radius: 10px;
    cursor: pointer;
    border: none;
    color: var(--white);
    font-weight: 700;
    font-size: 20px;
}
.content-product{
    display: flex;
    gap: 2rem;
}
.product-content-right{
    width: 85%;
}

.category-name{
    font-size: 32px;
    margin-bottom: 1rem;
    color: var(--Rose-900);
}
.content-cards{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1rem;
}
.card-product-img{
    position: relative;
}
.card-product-img img{
    width: 250px;
    border-radius: 10px;
}
.card-product-img button{
    width: 80%;
    position: absolute;
    left: 50%;
	bottom: 0;
    transform: translate(-53%, 30%);
    background-color: var(--white);
    border: 2px solid var(--Rose-500);
    padding: .5rem 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: .5rem;
    font-weight: 600;
    cursor: pointer;
    border-radius: 50px;
    color: var(--Rose-900);
    transition: background-color 0.3s ease-in;
}
.card-product-img button:hover{
    background-color: var(--Rose-100);
    color: var(--Red);
    border: 2px solid var(--Red);
}
.card-product-info{
    padding: 1rem 0;
}
.card-product-info span{
    color: var(--Rose-400);
}
.card-product-info p{
    color: var(--Rose-900);
    font-weight: 600;
}
.card-product-info .price{
    color: var(--Red);
}
.content-order{
    width: 40%;
}
.card-order{
    width: 100%;
    background-color: var(--white);
    padding: 2rem;
    border-radius: 10px;
}
.card-order-name{
    color: var(--Red);
    margin-bottom: 2rem;
}
/* .add-order-card{
    display: flex;
    flex-direction: column;
    gap: 1rem;
} */
.add-order-card-title{
    color: var(--Rose-400);
    font-weight: 600;
}
/*************** CONTENT EMPTY CART ****************/
.empty-cart{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 1rem;
}
.empty-cart p{
    color: var(--Rose-500);
    font-weight: 500;
}
/*************PRODUCT CART*****************************/
.product{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 1rem;
}
.name-product{
    color: var(--Rose-900);
    font-weight: 600;
}
.count-price{
    display: flex;
    gap: 16px;
}
.count{
    color: var(--Red);
}
.price{
    color: var(--Rose-400);
}
.total{
    color: var(--Rose-500);
    font-weight: 500;
}

.content-total{
    /* display: flex; */
    justify-content: space-between;
    align-items: center;
    display: none;
}
.content-total p {
    color: var(--Rose-900);
}
.price-total{
    font-size: 30px;
    font-weight: 700;
}
.btn-confirm{
    margin-top: 1rem;
    width: 100%;
    /* display: block; */
    text-align: center;
    font-weight: 600;
    padding: 12px 0;
    background-color: var(--Red);
    color: var(--white);
    border-radius: 100px;
    text-decoration: none;
    cursor: pointer;
    display: none;
}
.delete{
    cursor: pointer;
}




/***************MOSTRAR MODAL****************/
.modal {
	position: fixed;
	z-index: 999;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: #00000096;
	opacity: 0;
	pointer-events: none; 
	transition: all 1s;
}
.show-modal{
    opacity: 1;
    pointer-events: auto;
}
.content-modal{
    background-color: var(--white);
    width: 550px;
    padding: 2rem;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    gap: .7rem;
}
.content-modal img{
    width: 60px;
}
.content-modal h3{
    font-size: 2rem;
    font-weight: 700;
    color: var(--Rose-900);
}
.content-modal p{
    color: var(--Rose-500);
}
.content-order-product{
    background-color: var(--Rose-100);
    height: 300px;
    width: 100%;
    padding: 1.5rem;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    gap: 2rem;
}
.order-confirm{
    display: flex;
    flex-direction: column;
    gap: .9rem;
    padding-right: 1rem;
    overflow-y: scroll;
}
.order{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.order-info{
    display: flex;
    gap: 2rem;
}
.total-order{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.more-info{
    display: flex;
    flex-direction: column;
    gap: .5rem;
}
.more-info p{
    color: var(--Rose-900);
    font-weight: 600;
}
.price-count{
    display: flex;
    gap: 1rem;
}
.price-count strong{
    color: var(--Red);
}
.price-count span{
    color: var(--Rose-500);
}
.order .single-price{
    color: var(--Rose-900);
    font-weight: 600;
}

.total-order p{
    color: var(--Rose-900);
}
.total-order strong{
    font-size: 24px;
    color: var(--Rose-900);
}
.new-order{
    width: 100%;
    background-color: var(--Red);
    color: var(--white);
    padding: .8rem 0;
    text-align: center;
    text-decoration: none;
    border-radius: 100px;
}

@media screen and (max-width: 1170px) {
    .content-cards{
        grid-template-columns: repeat(2, 1fr);
    }
    .card-product-img button{
        transform: translate(-65%, 30%);
    }
}

@media screen and (max-width: 1080px) {
    .card-product-img button{
        transform: translate(-53%, 30%);
    }
}

@media screen and (max-width: 832px) {
    .content-cards{
        justify-content: center;
        align-items: center;
    }
    .content-product{
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .content-product{
        flex-direction: column;
    }
    .card-product-img button{
        width: 60%;
        transform: translate(-63%, 30%);
    }
}

@media screen and (max-width: 500px) {
    .content-cards{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .content-order{
        width: 100%;
    }
    .card-product-img button{
        width: 80%;
        transform: translate(-50%, 30%);
    }
    .categories{
        flex-direction: column;
    }
    .content-header{
        height: 100px;
    }
    .content-header img{
        display: none;
    }
}