:root{
    --first-color: #131921;
    --firsr-alpha-color: #232F3E;
    --text-color: #ffffff;
    --second-color: #F7F7F7;
}    
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html{
    font-family: "Poppins", serif;
}

header{
    width: 100%;
    height: 80px;
    background-color: var(--first-color);
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    color: var(--text-color);
}
.logo img{
    width: 130px;
    height: 65px;
}
.location{
    display: flex;
    gap: 1rem;
}
.data strong{
    display: block;
}
.buscador{
    display: flex;
}
.options{
    height: calc(100vh - 80px);
    width: 300px;
    padding: 2rem;
}
.columnas{
    display: flex;
    flex-direction: column;
}
label{
    margin-bottom: .5rem;
    color: var(--first-color);
    font-weight: 600;
}
select{
    margin-bottom: .5rem;
    padding: 5px;
    border-radius: 5px;
}
.contenido{
    width: calc(100% - 300px);
    padding: 2rem;
}
#resultado{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 1rem;
}
.card{
    /* border: 1px solid var(--first-color); */
    padding: 1rem;
    background-color: var(--second-color);
}
.card img{
    width: 250px;
    height: 200px;
    /* object-fit: cover; */
}
.condicion{
    display: block;
    text-align: right;
}

.alerta{
    width: 75vw;
    background-color: rgb(208, 24, 24);
    text-align: center;
    color: var(--text-color);
    padding: 5px 0;
    border-radius: 10px;
}

@media screen and (max-width: 1125px ) {
    #resultado{
        grid-template-columns: repeat(2, 1fr);
    }
}